<form class="form-signin">
  <h2 id = "answer" class="h3 mb-3 font-weight-normal">Площадь: {{answer}}</h2>
  <img class="mb-4" src = "assets/trapezium_1.png">
  <h1 class = "h3 mb-3 font-weight-normal">Введите параметры</h1>
  <input name = "A" class = "form-control mb-3" type="number" min = "0" placeholder = "A" [(ngModel)]="A" required autofocus>
  <input name = "B" class = "form-control mb-3" type="number" min = "0" placeholder = "B" [(ngModel)]="B" required>
  <input name = "H" class = "form-control mb-3" type="number" min = "0" placeholder = "H" [(ngModel)]="H" required>
  <button class = "btn btn-lg btn-primary btn-block mb-3" type = "button" (click)="Calculate()">Рассчитать площадь</button>
</form>

<router-outlet></router-outlet>
